
/*コミュニティに紐づいたイベント詳細専用のCSS*/
.nav {
    list-style: none;
    position: absolute;
    top: 10px;
}

nav li {
    width: 140px;
    text-align: center;
    background-color: #333;
    height: 50px;
    line-height: 50px;
    margin-right: 310px;
}

.logout {
    list-style: none;
    position: absolute;
    left: 400px;
    top: 10px;
}

.logout li {
    width: 180px;
    line-height: 180px;
    text-align: center;
    background-color: #ff0000;
}

.top {
    width: 100%;
}

.po {
    position: relative;
    display: block;
    height: 250px;
    width:800px;
    background-color: #a9a9a9;
    border: solid;
}

ul{
   list-style:none;
}



.e{
    background-color: orange;
    border:solid 1px;
    width: 230px;
    line-height: 100px;
    text-align: center;
    width: calc((450px - 40px) / 2);
    margin:10px;
}



.community{
    background-color:white;
    width:303px;
    height:255px;
    margin-top:30px;
    border :solid 1px;
}


.kn{
    background-color: grey;
    border:solid 1px;
    width:230px;
    line-height: 100px;
    text-align: center;
    width: calc((900px - 40px) / 2);
    margin:10px;
}


.flex{
    display: flex;
}

.bar{
     /* background-color:grey; */
     padding-bottom:20px;
     width:900px;
     margin-top:10px;
     background: linear-gradient(to right, #d6c6af 60%, rgb(226, 221, 221) 60%, rgb(226, 221, 221) 100%);
}

.gr{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top:120px;
  /* pc */
  width: 1100px;
}


.sanka{
   background-color:#00008b;
   width:300px;
   height:60px;
   margin-left:450px;
   margin-top:-110px;
   text-align:center;
   line-height:70px;
}



.pobutton{
    position:relative;
}

.yellow{
    /* background-color: yellow; */
    width:50%;
    color: burlywood;
    width:50%;
    font-weight: bold;
}


.eventplace{
    position: absolute;
    top:200px;
    background-color:#ffffe0;
    height:150px;
    width:300px;
    border:solid 1px;
}

.eventdate{
    position: absolute;
    top:350px;
    background-color:#ffffe0;
    height:150px;
    width:300px;
    border:solid 1px;
}

.detail{
    position:absolute;
    top:50px;
    right:200px;
    background-color: #d3d3d3;
    height:150px;
    width:350px;
    border:solid 1px;
}

.eventdisplay{
    position:relative;
}

.honbun{
    position:absolute;
    top:200px;
    right:200px;
    background-color: white;
    height:300px;
    width:350px;
    border:solid 1px;
}

.eventplace2{
    position:absolute;
    top:700px;
    background-color:#ffffe0;
    height:150px;
    width:300px;
    border:solid 1px;
}

.eventdate2{
    position:absolute;
    top:850px;
    background-color:#ffffe0;
    height:150px;
    width:300px;
    border:solid 1px;
}

.detail2{
    position:absolute;
    top:550px;
    right:200px;
    background-color: #d3d3d3;
    height:150px;
    width:350px;
    border:solid 1px;
}

.eventdisplay2{
    position:relative;
}

.honbun2{
    position:absolute;
    top:700px;
    right:200px;
    background-color: white;
    height:300px;
    width:350px;
    border:solid 1px;
}

.eventplace3{
    position:absolute;
    top:1200px;
    background-color:#ffffe0;
    height:150px;
    width:300px;
    border:solid 1px;
}

.eventdate3{
    position:absolute;
    top:1350px;
    background-color:#ffffe0;
    height:150px;
    width:300px;
    border:solid 1px;
}

.detail3{
    position:absolute;
    top:1050px;
    right:200px;
    background-color: #d3d3d3;
    height:150px;
    width:350px;
    border:solid 1px;
}

.eventdisplay3{
    position:relative;
}

.honbun3{
    position:absolute;
    top:1200px;
    right:200px;
    background-color: white;
    height:300px;
    width:350px;
    border:solid 1px;
}

.eventplace4{
    position:absolute;
    top:1700px;
    background-color:#ffffe0;
    height:150px;
    width:300px;
    border:solid 1px;
}

.eventdate4{
    position:absolute;
    top:1850px;
    background-color:#ffffe0;
    height:150px;
    width:300px;
    border:solid 1px;
}

.detail4{
    position:absolute;
    top:1550px;
    right:200px;
    background-color: #d3d3d3;
    height:150px;
    width:350px;
    border:solid 1px;
}

.eventdisplay4{
    position:relative;
}

.honbun4{
    position:absolute;
    top:1700px;
    right:200px;
    background-color: white;
    height:300px;
    width:350px;
    border:solid 1px;
}

.eventplace5{
    position:absolute;
    top:2200px;
    background-color:#ffffe0;
    height:150px;
    width:300px;
    border:solid 1px;
}

.eventdate5{
    position:absolute;
    top:2350px;
    background-color:#ffffe0;
    height:150px;
    width:300px;
    border:solid 1px;
}

.detail5{
    position:absolute;
    top:2050px;
    right:200px;
    background-color: #d3d3d3;
    height:150px;
    width:350px;
    border:solid 1px;
}

.eventdisplay5{
    position:relative;
}

.honbun5{
    position:absolute;
    top:2200px;
    right:200px;
    background-color: white;
    height:300px;
    width:350px;
    border:solid 1px;
}

.position_create{
    position: relative;
}


.event_creat{
    position: absolute;
    background-color:yellow;
    width:150px;
    border:solid 1px;
    top:-150px;
    left:500px;
    /*margin-left:500px;*/
    /*margin-top:-120px;*/
}


.sample{
    width:300px !important;
    height:250px !important;
    margin-left:1px;
    margin-top:2px;
}

.btn btn-primary btn-block{
    width:30px;
}

.container2{
    margin-left: 320px;
   }

   .back_img{
    width: 30%;
    vertical-align: middle;
    margin-right: 5px;
   }
  
   #back:hover {
    background-color: #0056b3;
  }
  
    #back {
    position: absolute;
    top:300px;
    /* width: 5%; */
    /* pc */
    width: 100px;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
    /* margin-top: 250px; */
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    }
  
    #back a {
    text-decoration: none;  
    }


   a{
    text-decoration: none;  
    }
  
    .background{
        position: relative;
        /* background-color: aqua; */
        /* スマホ */
        /* padding-top: 1%; */
        padding: 10px;
        /* スマホ */
        /* padding-bottom: 3%*/
        padding-bottom: 30px;
        /* スマホ */
        /* height: 100%; */
        height: 300px;
        /* スマホ */
        /* width: 70%; */
        width:800px;
        background-image:url('/images/cloud.jpg');
        background-size: cover;
        background-position: center; 
      }

a {
    color: black; /* リンクのデフォルトの色（青色） */
    text-decoration: none; /* 下線を消す */
  }
        
        /* アクティブ状態のスタイルを無効化 */
  a:active 
    {
    color: inherit; /* 親要素の色を継承 */
    }

    .event_topics{
        width: 200px;
    }
